.pr-main-flex {
  display: flex;
  flex-direction: row;
  // flex-basis: 25%;
}

#pr-window-text {
  flex: 9;
}

#pr-example-text {
  padding-top: 25%;
  padding-bottom: 25%;
  width: 100%;
  overflow-y: auto;
}

.pr-single-word {
  display: inline;
}

.pr-single-word::selection {
  background: transparent;
}

.pr-single-word::-moz-selection {
  background: transparent;
}
