<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Pinhole Reader - Reader</title>
    <meta charset="utf-8" content="width=device-width; initial-scale=1.0; min-scale=1.0; maximum-scale=1.0; user-scalable=false">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/scroll-bar.js"></script>
    <script src="js/notes.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <!-- <body class="container-fluid"> -->
  <body class="container-fluid">
    <div class="row">
      <div class="col-2" id="left-col">
          <div class="pr-filter-box" id='pr-filter-box-left'></div>
      </div>

      <div class="col-8" id="reading-area" style="position: relative">
          <div class="pr-filter-box" id="pr-filter-box-top"></div>
          <div id="pr-example-text"></div>
          <div class="pr-filter-box" id="pr-filter-box-bottom"></div>
      </div>

      <div class="col-4" id="note-area" style="position: relative; display: none">
        <h3>Comments</h3>
        <div id="hover-area" style="position: relative;left: 0; width: 50px; height: 100%;"></div>
      </div>

      <div class="col-4" id="side-progress-area" style="display: none">
        <div style="position: -webkit-sticky; position: sticky; top:0">
            <h3 style="color: blue">Progress</h3>
            <div style="position: relative">
              <div style="position: absolute; top: 20vh; width: 100%">
                <h4>Reading Completion</h4>
                <div class="progress" style="width: 100%">
                  <div id="pr-completion-reading" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div style="position: absolute; top: 50vh; width: 100%">
                <h4>Homework Completion</h4>
                <div class="progress" style="width: 100%">
                  <div id="pr-completion-hw" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-2" id="right-col">
        <div class="pr-filter-box" id='pr-filter-box-right'></div>
      </div>
    </div>

    <footer>
      <div class="pr-controls">
        <div class="pr-size-controls">
          <div id="pr-zoom-out" class="pr-icon">
            <div id="pr-zoom-out-disabled" class="pr-icon"></div>
          </div>
          <div id="pr-zoom-in" class="pr-icon">
            <div id="pr-zoom-in-disabled" class="pr-icon"></div>
          </div>
        </div>
        <div class="pr-bar-container">
          <div id="pr-progress-bar-outer">
            <div id="pr-progress-bar-inner"></div>
          </div>
        </div>
        <div class="pr-other-controls">
          <div id="note-control-btn" class="pr-icon"></div>
          <div id="progress-control-btn" class="pr-icon"></div>
          <a id="pr-button-next" class="btn btn-primary btn-sm pr-display-none" href="/">
            CONTINUE
          </a>
        </div>
      </div>
    <script src="js/reader.js"></script>
  </body>
</html>
