<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Pinhole Reader - Reader</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/scroll-bar.js"></script>
    <script src="js/notes.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <!-- <body class="container-fluid"> -->
  <body>

    <!-- Put a title here, maybe. Low priority. -->
    <!-- <header>

    </header> -->

    <!-- Majority of content goes here -->
    <main>
      <div class="pr-main-flex">
        <div id="pr-window-text">
          <div id="pr-container-text" class="pr-container">
            <div id="pr-example-text">
                <div id='pr-filter-box-top' class="pr-filter-box pr-filter-box-fw"></div>
                <div id='pr-filter-box-left' class="pr-filter-box"></div>
                <div id='pr-filter-box-right' class="pr-filter-box pr-filter-box-right-fw"></div>
                <div id='pr-filter-box-bottom' class="pr-filter-box pr-filter-box-fw"></div>
            </div>
          </div>
        </div>

        <div class="pr-display-none" id="pr-sidebar-comments">
            <div class="pr-sidebar-header">
              <div class="pr-sidebar-tab pr-sidebar-tab-active" id="pr-sidebar-tab-comments-1">Comments</div>
              <div class="pr-sidebar-tab" id="pr-sidebar-tab-completion-1">Completion</div>
            </div>
          <div id="pr-area-note">
            <div id="pr-area-hover"></div>
          </div>
        </div>

        <div class="pr-display-none" id="pr-sidebar-completion">
          <div class="pr-sidebar-header">
            <div class="pr-sidebar-tab" id="pr-sidebar-tab-comments-2">Comments</div>
            <div class="pr-sidebar-tab pr-sidebar-tab-active" id="pr-sidebar-tab-completion-2">Completion</div>
          </div>
          <div class="pr-status-sticky">
            <a href="#">Completion</a>
            <div class="pr-completion">
              <div id="pr-completion-reading" class="pr-completion-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="pr-progress">
              <div id="pr-completion-hw" class="pr-completion-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <!-- Controls here probably -->
    <footer>
      <div class="pr-controls">
        <div class="pr-size-controls">
          <div id="pr-zoom-out" class="pr-icon">
            <div id="pr-zoom-out-disabled" class="pr-icon"></div>
          </div>
          <div id="pr-zoom-in" class="pr-icon">
            <div id="pr-zoom-in-disabled" class="pr-icon"></div>
          </div>
        </div>
        <div class="pr-bar-container">
          <div id="pr-progress-bar-outer">
            <div id="pr-progress-bar-inner"></div>
          </div>
        </div>
        <div class="pr-other-controls">
          <a id="pr-button-next" class="btn btn-primary pr-display-none" href="/">
            CONTINUE
          </a>
          <div id="pr-button-sidebar">&#9776;</div>
        </div>
      </div>

    </footer>

    <script src="js/reader.js"></script>
  </body>
</html>
