html, body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: 'Helvetica', sans-serif;
  font-size: 28px;
  line-height: 2;
  position: relative;
}

main {
  width: 100%;
}

.pr-container {
  width: 1280px;
  display: block;
  margin: auto;
}

.pr-navbar {
  box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.5);
  margin-bottom: 25px;
}
