footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.pr-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.pr-controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.pr-size-controls {
  flex: 2;
  display: flex;
  flex-direction: row;
}

#pr-zoom-in {
  background: center / contain url("../images/icons/zoom-in.png");
}

#pr-zoom-out {
  background: center / contain url("../images/icons/zoom-out.png");
}

.pr-other-controls {
  display: block;
  flex: 2;
}

#pr-button-next {
  margin: auto;
  display: block;
  width: 200px;
  color: white;
  cursor: pointer;
}



