.pr-reading-block-list {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  
  a {
    margin: 25px;
  }
}

.pr-reading-block {
  background-color: $prGrayLight;
  box-shadow: inset $prShadowLight;
  display: flex;
  align-items: center;

  img {
    box-shadow: $prShadowLight;
  }
}

.modal-body {
  .pr-reading-block {
    width: 200px;
  }
}

.pr-reading-block img {
  display: block;
  margin: 5%;
}

#pr-add-block {
  cursor: pointer;
  background: center / contain no-repeat url('../images/icons/add.png');
  background-color: $prGrayLight;
  box-shadow: inset $prShadowLight;
  width: 200px;
  height: 300px;
}