.pr-filter-box {
  background-color: $prFilterLight;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#pr-filter-box-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 25%;
}

#pr-filter-box-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25%;
}

#pr-filter-box-left {
  position: fixed;
  top: 25%;
  left: 0;
  width: 12.5%;
  height: 50%;
}

#pr-filter-box-right {
  position: fixed;
  top: 25%;
  width: 12.5%;
  height: 50%;
}

.pr-filter-box-right-fw {
  right: 0;
}

.pr-filter-box-right-tqw {
  right: 25%;
}

.pr-filter-box-fw {
  width: 100%;
}

.pr-filter-box-tqw {
  width: 75%;
}