#pr-sidebar-completion {
  flex: 3;
  background-color: $prGrayLightMed;
}

#pr-sidebar-comments {
  flex: 3;
  background-color: $prGrayLightMed;

}

.pr-sidebar-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.pr-sidebar-tab {
  display: block;
  flex: 1;
  text-align: center;
  background-color: $prGrayLight;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  z-index: 2;
  cursor: pointer;
}

.pr-sidebar-tab-active {
  box-shadow: $prShadowDarkUp;
  z-index: 4;
}

#pr-area-note {
  height: 100%;
}

#pr-area-hover {
  position: relative;
  left: 0;
  width: 50px;
  height: 100%;
}

.pr-status-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}